* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  background: #eee;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  margin: auto auto;
  align-items: center;
}

input {
  height: 95px;
  font-size: 1.5rem;
  width: 80%;
  padding-left: 7%;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

button.add {
  width: 20%;
  cursor: pointer;
  background: green;
  color: white;
  font-weight: bold;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  border: none;
  height: 95px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto auto;
  padding-top: 40px;
}

#inputTarefa {
  outline: none;
}

.item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  box-shadow: 5px 5px 20px #ccc;
  margin-bottom: 2%;
  cursor: pointer;
  border-radius: 10px;
}

.item-icone {
  flex: 20px;
  text-align: center;
  font-size: 2rem;
}

.item-nome {
  flex: 55%;
  font-size: 20px;
  font-weight: bold;
}

.item-botao {
  flex: 20px;
}

.delete {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  height: 50px;
  width: 100px;
  cursor: pointer;
  border-radius: 10px;
}

.mdi-check-circle {
  color: green;
}

.mdi-delete {
  font-size: 21px;
}

.mdi-send {
  font-size: 21px;
}

.item.clicado {
  background: #d4f6d9;
}

.item.clicado .item-nome {
  text-decoration: line-through;
  color: gray;
}
